In [50]:
fruits=["apple","orange","banana","watermelon","pineapple"]
print(fruits)

['apple', 'orange', 'banana', 'watermelon', 'pineapple']

In [83]:
t=(1,2,(3,4),["a","b"])
print(t[1])

2

In [94]:
i=0 
while i<len(fruits):
    print(fruits[i])
    i=i+1
    print(fruits*5)

banana
['banana', 'mango', 'apple', 'orange', 'banana', 'mango', 'apple', 'orange', 'banana', 'mango', 'apple', 'orange', 'banana', 'mango', 'apple', 'orange', 'banana', 'mango', 'apple', 'orange']
mango
['banana', 'mango', 'apple', 'orange', 'banana', 'mango', 'apple', 'orange', 'banana', 'mango', 'apple', 'orange', 'banana', 'mango', 'apple', 'orange', 'banana', 'mango', 'apple', 'orange']
apple
['banana', 'mango', 'apple', 'orange', 'banana', 'mango', 'apple', 'orange', 'banana', 'mango', 'apple', 'orange', 'banana', 'mango', 'apple', 'orange', 'banana', 'mango', 'apple', 'orange']
orange
['banana', 'mango', 'apple', 'orange', 'banana', 'mango', 'apple', 'orange', 'banana', 'mango', 'apple', 'orange', 'banana', 'mango', 'apple', 'orange', 'banana', 'mango', 'apple', 'orange']

In [130]:
#adding and updating
student["job"]="engineering"
student["age"]=26
print(student)

{'name': 'alice', 'age': 26, 'city': 'london', 'job': 'engineering'}

In [133]:
for key in student:
    print(key)
for value in student.values():
    print(value)
for key, value in student.items():
    print(key, value)

name
age
job
alice
26
engineering
name alice
age 26
job engineering

In [139]:
squares={x:x*x for x in range(5)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [137]:
student={
    "student1":{"name":"alice","age":20},
    "student2":{"name":"aarju","age":20}

}
print(student)

{'student1': {'name': 'alice', 'age': 20}, 'student2': {'name': 'aarju', 'age': 20}}

In [135]:
#checking if a key exist in dict
if "alice" in student.value():
    print("name exists")
else:
    print("name doesn't exists")

AttributeError: 'dict' object has no attribute 'value'

In [131]:
#remove
del student["city"]
print(student)

{'name': 'alice', 'age': 26, 'job': 'engineering'}

In [129]:
student= {
    1:"first",
    "name":"alice",
    "age":20,
    "course":["maths","java"]
}
print(student["age"])
print(student.get("age"))
print(dir(student))
student =dict(name="alice",age=30, city="london")
print(student)

20
20
['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']
{'name': 'alice', 'age': 30, 'city': 'london'}

In [89]:

fruits = ["banana", "mango", "apple", "orange"]

if "apple" in fruits:
    print("Yes, we have apples!")
else:
    print("No, we don't have apples.")

Yes, we have apples!

In [87]:
list=[1,"hello",3.14,True]
tuple=(1,"hello",3.14,True)
set ={1,"hello",3.14,True}
print(list,tuple,set)

[1, 'hello', 3.14, True] (1, 'hello', 3.14, True) {1, 3.14, 'hello'}

In [81]:
fruits=("apple","orange","watermelon","banana")
# (green,yellow,red,black)=fruits
(green,yellow,*red)=fruits
print(green)
print(red)
print(yellow)

print(fruits)

apple
['watermelon', 'banana']
orange
('apple', 'orange', 'watermelon', 'banana')

In [70]:
fruits=("apple","orange","watermelon")
print(fruits)
print(len(fruits))

print(fruits[1])
y=("cherry",)
fruits+=y
print(fruits)

('apple', 'orange', 'watermelon')
3
orange
('apple', 'orange', 'watermelon', 'cherry')

In [58]:
set1={"1","3","5","7"}
set2= {"2","4","6","8"}
set1.remove("1")
print(set1)
set1.discard("1")

{'7', '5', '3'}

In [59]:
fruits.remove("apple")
fruits.pop()
print(fruits)

ValueError: list.remove(x): x not in list

In [37]:
fruits={"apple","orange","banana","watermelon","watermelon"}
print(fruits)
print(dir(fruits))
#print(fruits[2]) yo hunna

{'apple', 'banana', 'orange', 'watermelon'}
['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [28]:
words = ['apple','banana','cherry']
uppercased = [word.upper() for word in words]
print(uppercased)

['APPLE', 'BANANA', 'CHERRY']

In [26]:
squares=[x*2 for x in range(1,6)]
print(squares)

[2, 4, 6, 8, 10]

In [25]:
list=[1,2,3,[4,5,[6,7,8],9]];
print(list[3])
print(list[3][2])
print(list[3][2][1])

[4, 5, [6, 7, 8], 9]
[6, 7, 8]
7

In [17]:
fruits.append("apple")
fruits.remove("pineapple")
fruits.pop(fruits.index("apple"))
fruits.insert(1,"pineapple")
print(fruits)

['orange', 'pineapple', 'banana', 'watermelon', 'apple']